
@import "../../bower_components/breakpoint-sass/stylesheets/breakpoint";
@import "helpers";
@import "mixins";
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,700');
@font-face {
  font-family: 'Knockout';
  src: url('../fonts/Knockout-48Featherweight.ttf') format('truetype'), /* Safari, Android, iOS */
}


/* ==========================================================================
   LAYOUT STYLES
   ========================================================================== */
$reference-width: 1030;
$max-width:	960px;
$menu-height: 10vh;
$menu-min-height: 70px;
$menu-mobile-height: 80px;
$images-directory: '../img/';
$component-opacity: 0.78;

$font-header: 'Oswald';
$font-content: 'Oswald';

$id-color: #231F20;
$id-color2: #FF6A00;
$id-color3: #008aab;
$id-color4: #008aab;

$section-width: 72%;
$section-height: 100vh;
$section-xPos: 280;
$socialNetworks-width: 134px;

$bp-mobile: max-width 55em;
$bp-680: max-width 680px;//48.5em;
$bp-768: max-width 768px;//54.8em;
$bp-960: max-width 960px;//68.5em;
$bp-480: max-width 480px;//34.2em;




html{
  box-sizing: border-box;
}
html, body{
	position: relative;
	height: 100%;
	background: #FFF;
}
body{
	font-family: 'Oswald', sans-serif;
	font-size: 14px;
	font-weight: 300;
}
h1, h2, h3, h4, h5{
	font-family: $font-header, sans-serif;
	letter-spacing: 0.04em;
}


*, *:before, *:after {
  box-sizing: inherit;
}


#main_wrap{
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;

	// 'Padding Top'
	&:before{
		content: '';
		display: block;
		position: relative;
		width: 100%;
		height: $menu-height;
		min-height: $menu-min-height;
	}
	.main_wrap__container{
		overflow: scroll;
    	height: 90vh;
    	min-height: calc(90vh - $menu-min-height);
	}
}

#bg_container{
	position: fixed;
	top: 0; left: 0;
	width: 100%;
	height: 100%;
	
	&:before{
		content: "";
		position: absolute;
		z-index: 1;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,.05);		
	}

	.image{
		position: absolute;
		width: 100%; height: 100%;
	
		background: no-repeat fixed center;
		background-size: cover;
		background-attachment: fixed;
		opacity: 0;
		transition: opacity 800ms ease, background-position 4s ease-out 400ms;

		&.visible{
			opacity: 1;
		}
		&.move{
			background-position: center !important;
		}

		&:nth-child(1){
			background-image: url($images-directory+"bg-render1.jpg");
			background-position: center 20%;
		}
		&:nth-child(2){
			background-image: url($images-directory+"bg-render2.jpg");
			background-position: center bottom;
		}
		&:nth-child(3){
			background-image: url($images-directory+"bg-render3.jpg") 
		}
		&:nth-child(4){
			background-image: url($images-directory+"bg-render4.jpg");
			background-position: center bottom;
		}
		&:nth-child(5){
			background-image: url($images-directory+"bg-render5.jpg") 
		}
		&:nth-child(6){
			background-image: url($images-directory+"bg-render6.jpg") 
		}
	}

	//////
	@include breakpoint( $bp-480  ) {
		.image{
			// background-size: 200%;
			// background-attachment: fixed;
			// background-attachment: scroll;
		}
		&:before{
			background: rgba(0,0,0,.4);
		}
	}
}

header{
	position: fixed;
	top: 0;
	z-index: 11;
	height: $menu-height;
	min-height: $menu-min-height;
	width: 100%;
	display: flex;
	justify-content: space-between;

	// WHITE HEADER
	&.white{
		background: white;
		// Mobile Menu
		.mobile_icon{
			&:before {
			  background: $id-color;
			  box-shadow: 
			    0 0.357em 0 0 $id-color,
			    0 0.75em 0 0 $id-color;
			}
		}
	}

	/////////////////////
	// LOGO
	.logo{
		position: relative;
		min-width: 100px;
		height: 80%;
		text-align: center;
		left: percentage((($reference-width - 770)/2)/$reference-width);
		top: 50%;
		transform: translate(-50%, -50%);
		
		a{
			display: block;
			//width: 100%;
			height: 100%;
			//position: absolute;
			//left: 0; top: 0;
		}
		
		img{
			width: auto;
			height: 100%;
		}
	}
	
	/////////////////////
	// MOBILE MENU ICON
	.mobile_icon{
		display: none;
	}
	
	/////////////////////
	// NAVIGATION MENU
	nav{
		//float: right;
		//position: absolute;
		//left: percentage(($section-xPos+8) / $reference-width);
		//top:0;
		display: block;
		width: percentage(770/$reference-width);
		height: 100%;
		background: rgba($id-color, $component-opacity);
		text-transform: uppercase;
			
		// MAIN MENU	
		#main_menu{
			-webkit-box-sizing: border-box;
			   -moz-box-sizing: border-box;
			        box-sizing: border-box;
			height: 100%;
			padding: 10px 0;  margin: 0;
			list-style: none;
			text-align: center;
			line-height: 3.65em;
			display: flex;
			position: relative;
			
			@extend .clearfix;
			
			& > li{
				display: flex;
				position: relative;
				//float: left;
				height: 100%;
				margin: 0; padding: 0;
				//width: 25%;
				white-space: nowrap;
				font-family: $font-header, sans-serif;
				
				// MENU BUTTONS
				a{
					display: block;
					align-self: center;
					padding: 0 1.5em;
					//height: 100%;
					color: $id-color2;
					font-size: 1rem;
					font-weight: normal;
					text-decoration: none;
					@include transition( background .2s );
				}
				
				&:hover{
					.submenu{
						max-height:600px;
					}
				}
				a:hover,
				a.active{
					color: #fff;
				}
			}

			.submenu{
				position: absolute;
				max-height:0;
				overflow:hidden;
				transition: max-height 0.3s ease-out; 
				height:auto;
				left: 0; bottom: -9px;
				transform: translateY(100%);
				background: rgba(#231F20, .9);
				margin: 0;
				padding: 0;
				list-style: none;
				text-align: center;
				font-family: $font-content;
				line-height: 2.5em;

				> li {
					margin-bottom: 1.12em;
					&:first-child{
						margin-top: 1.12em;
					}

					a{
						color: #C0C2C4;
						font-size: 0.875em;
					}

					a:hover,
					a.active{
						color: #fff;
					}
				}
			}
		}
	}
	
	
	
	#social_networks{
		order: 1;
		float: right;
		position: relative;
		height: 100%;
		min-width: 100px;
		width: percentage( ((($socialNetworks-width)-20) / 1px) /$reference-width);
		padding: 0 percentage(10/$reference-width); 
		margin: 0; border: 0;
		list-style: none;
		text-align: center;
		
		li{
			@include vertical-align();
			display: inline-block;
			padding: 0 percentage(5/134);
			
			a{
				color: #fff;
				text-decoration: none;
				@include transition( color .15s );
				width: 16px; height: 16px;
				display: block;
				
				
				&:hover{
					color: #fff;
				}
				
				
				img{
					display: block;
					width: 100%;
					height: auto;
				}
			}
		}
	}
	
	//////////////////////////////////////////////////////
	/// MEDIA QUERIES
	//////////////////////////////////////////////////////
	@include breakpoint( $bp-960  ) {
		width: 100%;

		#main_menu{
			display: none
		}
	}
	
	//////
	@include breakpoint( $bp-680 ) {
		background: rgba(#231F20, .9);

		// LOGO
		.logo{
			width: 20%;
			margin-left: 4%;
			border: none;
			order: 1;
			right: 12px;
			@include vertical-align();
			position: absolute;
		}

		// MOBILE MENU ICON
		.mobile_icon{
			display: block;
			cursor: pointer;
			width: 100%; height: 100%;
			color: $id-color2;
			position: relative;
			text-align: center;
			line-height: 2.45em;
			
			left: 1.75%;
			width: 10%;
			border-width: 7px;
			
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			
			
			&:before {
			  content: "";
			  position: absolute;
			  left: 0; right: 0;
			  top:-5px; bottom: 0;
			  margin: auto;
			  width: 1.75em;
			  height: 0.18em;
			  background: #FFF;
			  box-shadow: 
			    0 0.357em 0 0 #FFF,
			    0 0.75em 0 0 #FFF;
			}
		}
		
		// COLLAPSABLE MENU HOLDER
		nav{
			display: none;
			flex-flow: column;
			width: 100%; height: auto; 
			position: absolute;
			left: 0; top: $menu-height;
			background: rgba(0, 0, 0, 0.9);
			
			&.cssControlled:hover{
				display: block;	
			}	
				
			// MAIN MENU
			#main_menu{
				float: none;
			    height: auto; width: 100%;
			    margin: 0;
			    padding: 0 0 0;
			    flex-flow: column;
			    //margin-top: $menu-height;
				
				li{
					float: none;
					display: block;
					width: 100%;
					top: auto;
					margin: 0 0;
					padding: 0;
					transform: none;
					-webkit-transform: none;
					border-bottom: solid 1px #333;
					
					a{
						display: block;
						width: 100%;
						padding: 10px 0;
						
						@include transition(padding-top .3s);
						
						&:hover{
						}
						
						&:active,
						&.active{
							border: none;
							//background: $id-color;//rgba(0, 0, 0, 0.8);
							//color: #111;
						}
					}
				}

				// SUBMENU
				.submenu{
					width: 100%;
					position: relative;
					bottom: auto;
					transform: none;
				}
			}
		}
		
		// SOCIAL NETWORKS
		#social_networks{
			order: 0;
			//position: absolute;
			width: 100%; height: 40px;
			//top: -$menu-height;
			//left: auto; right: 25%;
			float: none;
			
			li{
				padding: 0 5.5%
			}
		}
	}
	
	//////
	@include breakpoint( $bp-480  ) {
		.mobile_icon{
			left: 12px;
		}
	}
}

section{
	position: relative;
	display: none;
	
	h2{
		margin: 0; padding: 0 0;
		font-size: 1.28571428571429em;
		font-weight: normal;
		text-transform: capitalize;
		color: #fff;
	}
	
	&.window{	
		$floating-window-width: 400;
		color: #fafafa;
		margin: auto;
		width: 72%;
		@media screen and (min-width: 680px  ) {
			width: percentage($floating-window-width/$reference-width);
			min-width: #{$floating-window-width}px;
			margin-right: percentage(140/$reference-width);
		}

		.container{
			position: relative;
		}
	}
	
	
	
	
	///RESPONSIVE RULES
	@include breakpoint( $bp-960  ) {
		&.window{
			width: 73.5%;
			left: auto;
			margin: auto;
		}
	}
	
	
	//////
	@include breakpoint( $bp-480  ) {
		&.window{
			width: 92.5%;
			color: #dedede;
		}
	}	
}

#proyecto{
	.wrapper{
		padding-bottom: 6.26em;
	}

	nav{
		@include vertical-align();
		position: absolute;
		width: 118%;
		left: -9%;
		z-index: 10;
		
		a{
			display: block;
			width: 17px;
			height: 29px;
			background: no-repeat center bottom;
			background-size: cover;
			font-size: 1px;
			text-indent: -9999em;
			text-decoration: none;
			color: #222;
			
			&.next{
				background-image: url($images-directory+"icon-slideNav-next.svg");
				float: right;
				&:hover{
					background-position: center bottom;
				}
			}
			&.prev{
				background-image: url($images-directory+"icon-slideNav-prev.svg");
				float: left;
				&:hover{
					background-position: center bottom;
				}
			}
		}
	}
	
	
	.slider_holder{
		position: relative;
		overflow: hidden;
	}
	
	
	.slider{
		list-style: none;
		position: relative;
		width: 500%; min-height: 380px;
		margin: 0; padding: 0;
		overflow: hidden;
		//@extend .clearfix;
		
		.slide{
			position: relative;
			float: left;
			width: 20%;
			padding: 2.5rem 2.75rem;
			background: rgba($id-color, $component-opacity);
			line-height: 1.25em;
			text-align: justify;
			
			h2{
				font-size: 0.875rem;
				font-weight: bold;
				text-transform: uppercase;
				margin: 0 auto 1.12rem;
			}
			h3{
				font-size: 0.75rem;
				text-transform: uppercase;
				margin: 0 auto 0.12rem;
				font-weight: normal
			}
			p{
				font-weight: 300;
				margin: 0 auto 1.75rem;
			}
			ol, ul{
				padding: 0 0 0 0.875rem;
				margin-bottom: 2em;
			}
			ul{
				list-style: disc;
			}
			img{
				width: 70%;
				height: auto;
				max-width: 300px;
				margin: 0.5em auto;
				display: block
			}
		}
	}
	
	// SUSTENTABILIDAD TAB
	.logo_holder{
		img{
			width: 50%;
			margin-top: 10px;
			margin-left: 0 !important;
			margin-right: 0 !important;
			max-width: 170px !important;
		}
	}
	
	
	//////////////////////////////////////////////////////
	/// MEDIA QUERIES
	//////////////////////////////////////////////////////
	@include breakpoint( $bp-960  ) {
		nav{
			left: -12%;
			width: 124%;
		}
	}
	
	//////
	@include breakpoint( $bp-480  ) {
		.container{
			background: none;
			padding-top: 1em;
		}

		h2{
			line-height: 1em;
			font-size: 1.4em;
		}
	
		nav{
			width: 108%;
			padding: 12px 0%;
			top: 0; left: -4%;
			background: #fff;
			
			@include transform(none); 
			
			a{
				width: auto;
				height: 0;
				padding-bottom: 8%;
				
				text-indent: 0;
				font-size: 1em;
				line-height: 1.75em;
				background-size: 100% auto;
				
				&.next{
					background: url($images-directory+"icon-slideNav-mobile-next.svg") no-repeat right top;
					text-align: right;
					padding-right: 8%;
					
					&:hover,
					&.active{
						background-position: right bottom; 
					}
					
				}
				&.prev{
					background: url($images-directory+"icon-slideNav-mobile-prev.svg") no-repeat left top;
					padding-left: 8%;
					
					&:hover,
					&.active{
						background-position: left bottom; 
					}
				}
				
				&.next,
				&.prev{
					background-size: auto 190%;
					margin: 0 3%;
					max-height: 80%;
				}
			}
		}
		
		.slider_holder{
			padding-top: 60px;
		}

		.slider{
			min-height: 480px;

			.slide{
				padding: 24px 20px;
			}
		}
	}
}

#buro{
	.container{
		background: rgba($id-color, $component-opacity);
		padding: 5% 12%;;
	}
	.wrapper{
	}
	
	.logo_holder{
		img{
			max-width: 15%;
			width: 100%;
			height: auto;
			margin-top: 15px;
		}
	}
	
	
	//////
	@include breakpoint( $bp-480  ) {
	
		.container{
			background: none;
			padding-top: 1em;
			
		}
	}
}

#galeria{
	position: relative; //absolute;
	top: 0;
	width: 100%;
	min-height: 100%;
	height: 100%;
	background: #fff;
	
	h2{
		display: none;
	}	
	
	.container{
		display: flex;
		flex-flow: row wrap;
		position: relative;
		min-height: 100%;
		background: rgba(255, 255, 255, 1);
	}
	
	.col-left{
		position: relative;
		flex: 1 0 percentage( ((($reference-width) - $socialNetworks-width) / 1px) / $reference-width );
		align-self: center;

		//VIDEO HOLDEr
		.video_holder{
			position: relative;
			margin:auto;
			height: 0;
			padding-bottom: 36.25%;
			max-width: 60%;
			
			@include vertical-align();
			
			iframe{
				position: absolute;
				top: 0; bottom: 0;
				left: 0; right: 0;
				width: 100%; height: 100%;
				margin-top: -5%;
			}
		}
		
		//GALLERY HOLDER
		.gallery{
			position: relative;
			height: 100%;
			
			// MAIN PHOTO HOLDER
			.photo_holder{
				position: relative;
				padding: 6vh 0;
				text-align: center;
				
				// Loading Icon
				&.loading{
					background: url($images-directory+"loader.gif") no-repeat center;
				}

				// Navigatoin Buttons
				a.navigation{
					display: inline-block;
					position: relative;
					top: 50%;
					transform: translateY(-50%);
					width: 17px;
					height: 29px;
					
					background: no-repeat center bottom;
					background-size: cover;
					font-size: 1px;
					text-indent: -9999em;
					text-decoration: none;
					color: #222;
					
					&.next{
						background-image: url($images-directory+"icon-slideNav-next.svg");
						&:hover{
							background-position: center bottom;
						}
					}
					&.prev{
						background-image: url($images-directory+"icon-slideNav-prev.svg");
						&:hover{
							background-position: center bottom;
						}
					}
				}
				
				// Image Display
				.images_display{
					display: inline;
					margin: 0 1em;
				}
				img{
					position: relative;
					margin: auto;
					&.vertical{
						max-width: percentage(400/$reference-width);
						width: 100%;
						height: auto;
					}
					&.horizontal{
						width: 100%;
						height: auto;
						max-width: percentage(640/$reference-width);
					}

					&.floor{
						max-width: percentage(980/$reference-width);
					}

					// Adjust images on specific breakpoints
					@include breakpoint( $bp-680  ) {
						&.vertical{
							max-width: none;
						}
						&.horizontal{
							max-width: none;
						}
					}
				}
			}

			// PHOTO INFORMATION
			.info{
				position: relative;
				padding: 6vh 0 0;
				width: percentage(310/$reference-width);
				left: percentage(270/$reference-width);
				&__title{
					font-size: 0.925rem;
					letter-spacing: 0.05em;
					text-transform: uppercase;
					margin: 0 0;
					&:after{
						content: '';
						display: block;
						position: relative;
						right: 100%;
						width: 200%;
						height: 3px;
						background: $id-color2;
						margin-top: 0.325em;
					}
				}
			}
			
			// THUMBNAILS LIST
			ul.thumbs_list{
				//height: 20%;
				list-style: none;
				margin: 0 0 5vh; padding: 0 20px;
				text-align: center;
				
				li{
					display: inline-block;
					position: relative;
					width: 50px; height: 50px;
					margin: 0 5px 5px;
					background: #ccc;
					cursor: pointer;
					
					&:before{
						content: "";
						position: absolute;
						z-index: 2;
						width: 100%;
						height: 100%;
						
						-webkit-box-shadow: inset 0px 0px 0px 0 $id-color2;
						-moz-box-shadow: inset 0px 0px 0px 0 $id-color2;
						box-shadow: inset 0px 0px 0px 0 $id-color2;
						@include multipleTransition( box-shadow 0.22s );
					}
					
					&:hover,
					&.selected{
						&:before{
							-webkit-box-shadow: inset 0px 0px 0px 4px $id-color2;
							-moz-box-shadow: inset 0px 0px 0px 4px $id-color2;
							box-shadow: inset 0px 0px 0px 4px $id-color2;
						}
					}
					
					a{
						display: block;
						height: 100%;
					}
					img{
						display: inline-block;
						width: 100%;
						height: auto;
					}
				}
			}
		}
	}
	
	.col-right{
		display: none;
		position: relative;
		width: percentage( ($socialNetworks-width / 1px) / $reference-width );
		background: #fff;
		
		ul{
			margin: 0; padding: 100px 25px 0;
			list-style: none;
			
			li{
				margin-bottom: 17px;
				
				a{
					display: block;
					text-decoration: none;
					text-align: right;
					width: 100%;
					padding-top: 8px;
					color: #808184;
					background: url($images-directory+"icon-gallery-bullet.png") no-repeat top right;
					@include transition(color .16s);
					
					&:hover, &:active, &.active{
						color: $id-color2;
						background: url($images-directory+"icon-gallery-bullet_hover.png") no-repeat top right;
					}
				}
			}
		}
	}
	
	///RESPONSIVE RULES
	@include breakpoint( $bp-960 ) {
		//height: auto;
		//overflow: visible;
		
		.container{
			margin: 0;
			flex-flow: row wrap;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			
			div{
			  -webkit-box-sizing: inherit;
			  -moz-box-sizing: inherit;
			  box-sizing: inherit;
			}
		}
		
		.col-left{
			width: 100%;
			order: 1;
			
			.gallery{
				.photo_holder{
					height: auto; //65%;
					padding: 0 0 2em;
					
					img{
						position: relative;
						width: 90%;
						height: auto;
					}
				}
				
				.info{
					padding: 0;
					width: 72%;
					min-width: 300px;
					margin: auto;
					left: 0;
					&__title:after{
						width: 100%;
						left: 0;
					}
				}
				
				ul.thumbs_list{
					margin-bottom: 2em;
				}
			}
			
			.video_holder{
				iframe{
					margin: 0;
					
				}
			}
		}
	
		.col-right{
			display: block;
		    width: 100%;
		    height: 70px;
		    text-align: center;
		    
		    ul{
		    	height: 100%;
			    padding: 0;
			    overflow: auto;
			    @include vertical-align();
			    
			    li{
			    	float: left;
			    	width: 33.3333333%;
			    	height: 100%;
				    margin: 0;
				    line-height: 5em;
				    
				    &:nth-child(2){
					    border: 1px solid #eee;
					    border-top: none;
					    border-bottom: none;
					   
					   -webkit-box-sizing: border-box;
					   -moz-box-sizing: border-box;
					   box-sizing: border-box;
				    }

				    a,
				    a:hover,
				    a.active,
				    a:active{
				    	text-align: center;
					    padding: 0;
					    background: none;
				    }
			    }
		    }
		}
	}

	///RESPONSIVE RULES
	@include breakpoint( $bp-680 ) {
		.container{
			align-content: flex-start;
		}
	}
}

#contacto{
	position: relative;//absolute;
	top: 0;
	width: 100%;
	height: 100%;//$section-height;
	min-height: 100%;
	color: #222;
		
	&:before{
		content: '';
		display: block;
		position: absolute;
		height: $menu-height;
		top: -$menu-height;
		width: 100%;
		background: #FFF;
	}
	
	.wrapper{
		position: relative;	
		height: calc(100vh - #{$menu-height});
		min-height: 100%;
		//padding-top: $menu-height;

		display: flex;
		flex-flow: row nowrap;
		box-sizing: border-box;
		overflow: hidden;
	}

	////////////////////
	// LOCATIONS INDEX
	.locations-index{
		position: relative;
		flex: 0 0 percentage(150/$reference-width);
		background: #fff;
		text-transform: uppercase;
		
		// List title
		.title{
			margin: 0; padding: 0.25em 0.5em;
			font-weight: normal;
			background: $id-color2;
			color: #fff;
		}

		// Locations list
		.list-container{
			padding: 0.5em;
		}
		.list{
			position: relative;
			margin: 0; padding: 0 0 0 1em;
			.location{
				
			}
		}
	}

	////////////////////////////////
	// LEFT COLUMN / CONTACT INFO
	.col-left{
		display: flex;
		flex: 0 0 percentage(($reference-width - 770)/$reference-width);
		position: relative;
		height: 100%;
		background: #FFF;
		flex-flow: column;
		justify-content: space-between;	
		
		h2{
			color: $id-color;
			text-transform: capitalize;
			margin-bottom: 20px;
		}
		a{
			color: $id-color;
			text-decoration: none;
		}
		ul{
			list-style: none;
			margin: 0; padding: 0;
			
			li{
				margin-bottom: 24px;
				
				span{
					display: block;
					margin-top: 3px;
					
					&:before{
						content: "";
						display: block;
						position: relative;
						margin-bottom: 3px;
						
						width: 6%;
						height: 2px;
						background: #fff;
					}
				}
			}
		}

		.container{
			width: 80%;
			border-left: solid 2px #fff;
			margin: 6vh auto;
			//@include vertical-align();
		}
		.contact-details{
			width: 80%;
			margin: 6vh auto;
		}
	}

	////////////////////////////////
	// RIGHT COLUMN / MAP CONTAINER
	.col-right{
		flex: 1; //percentage(752/$reference-width);
		height: 100%;
		background: rgba($id-color3, .05);	
		

		img.map{
			width: 100%;
			height: auto;
		}
		
		.form_holder{
			height: 35%;
			
			form{
				text-transform: lowercase;
				padding: 20px;
				@include vertical-align();
				
				
				.row{
					overflow: auto;
					position: relative;
					border-bottom: solid 1px #fff;
					padding: 0 20px 10px;
					margin-bottom: 22px;
				}
				.row:first-child{
					.input_holder{
						float: left;
						width: 50%;
					}
				}
				.row:nth-child(2){
					input{
						max-width: 80%
					}
				}
				
				
				label{
					margin-right: 15px;
					color: #fff;
				}
				
				input{
					background: none;
					border: 0; margin: 0; padding: 0;
					width: 100%;
					max-width: 220px;
					color: #fff;
				}
				
				input[type=submit]{
					width: 10%;
					position: absolute;
					right: 10px; bottom: -10px;
					padding-top: 10px;
					text-align: left;
					color: #fff;
					background: url($images-directory+"icon-submit.png") no-repeat top left;
					@include transition(color .16s);
					
					&:hover, &:active{
						text-decoration: underline;
						//background: url($images-directory+"icon-submit_hover.png") no-repeat top left;
					}
				}
			}
		}
		
		.map_holder{
			position: relative;
			height: 100%;
			background: rgba(#fff, .4);
			
			a.location{
				position: absolute;
				bottom: 1em; right: 1em;
				padding: .5em .75em;
				
				color: #fff;
				text-decoration: none;
				background: $id-color2;
				
				@include transition(background 220ms);
				
				&:hover{
					background: lighten($id-color3, 5%);
				}
			}
			
			img{
				width: 100%;
				height: auto;
			}
			
			iframe{
				width: 100%;
				height: 100%;
			}
			
			
		}
	}	
	
	///RESPONSIVE RULES
	@include breakpoint( $bp-960  ) {
		height: 100%;
		overflow: visible;
		color: #222;

		.wrapper{
			height: auto;
		}
	
		.col-left{
			//float: none;
			width: 100%;
		    bottom: auto;
		    position: relative;
		    padding: 5% 0;
		    flex: 100%;
		    height: auto;
		    min-height: 250px;
		    background: #fff;
		    
		    h2{
			    color: $id-color3;
		    }
		    
		    a{
				color: #222;    
		    }
		    
		    
		    .container{
			    margin-top: 0;
			    margin-bottom: 0;
			    top: auto;
			    transform: none;
			    -webkit-transform: none;
			    text-align: center;
		    }
		    
		    
		    ul{
			    li{
				    display: inline-block;
				    padding: 0 20px;
				    margin-bottom: 0;
				    
				    &:first-child{
					    display: block;
					    margin-bottom: 30px;
				    }
			    }
		    }	
		}
		
		
		.col-right{
			//float: none;
			flex: 100%;
			width: 100%;
			
			.form_holder{
				position: relative;
				height: auto;
				
				form{
					transform: none;
					-webkit-transform: none;
					-moz-transform: none;
					-o-transform: none;
					
					padding: 4em 2em;
					
					
					.row{
						margin-bottom: 3em;
					}
					
					
					input[type=submit]{
						display: block;
						position: relative;
						right: auto; left: auto;
						bottom: auto; top: auto;
						
						padding: 1em;
						width: 10%;
						margin: auto;
						
						color: $id-color3;
						text-align: center;
						background: #fff;
						
						&:hover{
							text-decoration: none;
						}
					}
				}
			}
			.map_holder{
				height: auto;
				height: 480px;
				pointer-events: none
			}
		}
	}
	
	
	///
	@include breakpoint( $bp-480  ) {
		.wrapper{
			//display: none;
		}
		
		
		.col-right{
			height: auto;
			background: rgba(255, 255, 255, .6);
			
			
			.form_holder{
				height: auto;
				
				
				form{
					@include transform(none);
					top: auto; margin-top: 0;
					padding: 4em 3em;
					
					/*
.row:first-child .input_holder{
						float: none;
						width: 100;
						
						&:first-child{}
					}
*/
					.row.first{
					}


					input[type=submit]{
						display: block;
						position: relative;
						float: none;
						margin: auto;
						padding: 12px 5em 10px;
						right: auto; bottom: auto;
						width: auto;
						
						background: $id-color3;
						text-align: center;
					}
				}
			}
			
			
			
			.map_holder{
				height: auto;
			}
		}
	}

}










